<div class="container app-todos">
  <app-new-todo (newTodo)="addTodo($event)"></app-new-todo>
  
  <form>
    <div class="form-group">
      <input class="form-control"
             name="search"
             placeholder="Search..."
             type="text"
             autocomplete="off"
             [(ngModel)]="search" />
    </div>
  </form>

  <button type="button" class="btn btn-primary" (click)="openModal(modalTemplate)">Create template modal</button>
 
 

    <ul class="list-group list-group-flush"
    *ngIf="todoList">
     <p class="text-center"
   *ngIf="todoList.length == 0"> No items, please create your first item.</p>
  
    <app-todo-item 
                 *ngFor="let item of todoList | filterBySearch:search" 
                 [todo]="item"
                 (delete)="deleteTodo($event)"
                 (update)="updateTodo($event)"
                 >
                
    </app-todo-item>
  </ul>
  
</div>
<p class="text-center"
   *ngIf="!todoList "> No Data.</p>
  


   <ng-template #modalTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div> 
  </ng-template>