:host {
   margin-top: 0; 
}

.app-header {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
  height: 160px;
  background-color: blue;
  color: white;
  h1 {
    margin-top: 0px;
  }

}