<li class="list-group-item app-todo-item">
  <header class="todo-header todos-item">
    <div class="d-flex">
      <span class="material-icons check-box" (click)="toggleTodo()">
        {{(todo.isDone) ? 'check_box' : 'check_box_outline_blank'}}
      </span>
      <h5 [class.is-done]="todo.isDone" appHighlight>
        {{todo.title}}
      </h5>
      <span class="badge" [innerHTML]="todo.priority" 
      [ngClass]="{
      'badge-success': todo.priority === 'low',
      'badge-warning': todo.priority === 'medium',
      'badge-danger': todo.priority === 'hight' 
      }"> </span>
     </div>
    <div class="todo-btn-group">
      <button class="btn btn-outline-primary" [disabled]="!todo.description" (click)="toggleDetails()">
        {{(!isShowDetails) ? 'Show details' : 'Hide details'}}
      </button>
      <button class="btn btn-outline-info" style="margin-left:5px" (click)="upTodo()">
        Update
      </button>
      <button class="btn btn-outline-danger" (click)="deleteTodo(todo.id)">
        Delete</button>
    </div>

  </header>
  <div *ngIf="isShowDetails">
    <p class="todo-description" *ngIf="todo.description">
      {{todo.description}}
    </p>
  </div>

</li>


<!-- <p class="text-center"
*ngIf="!appTodoItem"> Create list</p> -->

<!-- {{(!todo) ? 'check_box' : 'check_box_outline_blank'}} -->
