<!-- <div class="row">
  <div class="col">
    <div class="card user">
      <img class="card-img-top" src="https://randomuser.me/api/portraits/men/68.jpg">
      <div class="card-body">
        <h5 class="card-title">Jacob Brown</h5>
        <div class="textP"><p class="card-text">Enthusiastically empower stand-alone intellectual capital before extensible channels. Credibly maintain leading-edge leadership skills after highly efficient e-commerce. Distinctively initiate just in time materials whereas business products. Seamlessly create resource maximizing supply chains before B2B e-business. Competently coordinate go forward functionalities before interdependent products.
        </p></div>
        <a routerLink="1" class="btn btn-primary">
          More Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card user">
      <img class="card-img-top" src="https://randomuser.me/api/portraits/men/75.jpg">
      <div class="card-body">
        <h5 class="card-title">Brad Gibson</h5>
        <div class="textP"><p class="card-text">Phosfluorescently foster ethical expertise through low-risk high-yield best portals. Uniquely parallel task effective scenarios rather than cross-unit best practices. Competently deploy superior scenarios without value-added metrics. Authoritatively architect fully tested value vis-a-vis covalent users. Seamlessly generate focused innovation without backend infomediaries.
        </p></div>
        <a routerLink="2" class="btn btn-primary">
          More Details</a>
      </div>
    </div>
  </div>

</div> -->


<div class="d-flex flex-wrap mt-3">
  <div *ngFor="let item of List" class="mr-5">
    <div class="card" style="max-width: 300px;">
      <img src="{{item.picture}}" class="card-img-top" />
      <div class="card-body">
        <h2 class="card-title">{{ item.firstName}}  {{ item.lastName}}</h2>
        <p>{{ item.email }}</p>
        <p>{{ item.phone }}</p>
        <div class="card-text text">
          <div class="textP" style="max-height: 70px;"><p >{{ item.description }}</p></div>
        </div>
        <a routerLink="{{ item.id }}" class="btn btn-primary">More details</a>
      </div>
    </div>
    <!-- {{ item.name }} -->
  </div>
</div>